ESB_WFUI/Service References/ServiceReference1/WeatherForecastService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherForecastService" targetNamespace="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://www.restfulwebservices.net/rest/WeatherForecastService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/Imports">
      <xsd:import schemaLocation="http://www.restfulwebservices.net/rest/WeatherForecastService.svc?xsd=xsd0" namespace="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01" />
      <xsd:import schemaLocation="http://www.restfulwebservices.net/rest/WeatherForecastService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.restfulwebservices.net/rest/WeatherForecastService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://www.restfulwebservices.net/rest/WeatherForecastService.svc?xsd=xsd3" namespace="http://www.restfulwebservices.net/DataContracts/2008/01" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherForecastService_GetCitiesByCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesByCountry" />
  </wsdl:message>
  <wsdl:message name="IWeatherForecastService_GetCitiesByCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherForecastService_GetForecastByCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForecastByCity" />
  </wsdl:message>
  <wsdl:message name="IWeatherForecastService_GetForecastByCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForecastByCityResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherForecastService_GetCitiesByCountryJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesByCountryJson" />
  </wsdl:message>
  <wsdl:message name="IWeatherForecastService_GetCitiesByCountryJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesByCountryJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherForecastService_GetForecastByCityJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForecastByCityJson" />
  </wsdl:message>
  <wsdl:message name="IWeatherForecastService_GetForecastByCityJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForecastByCityJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherForecastService">
    <wsdl:operation name="GetCitiesByCountry">
      <wsdl:input wsaw:Action="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/IWeatherForecastService/GetCitiesByCountry" message="tns:IWeatherForecastService_GetCitiesByCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/IWeatherForecastService/GetCitiesByCountryResponse" message="tns:IWeatherForecastService_GetCitiesByCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForecastByCity">
      <wsdl:input wsaw:Action="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/IWeatherForecastService/GetForecastByCity" message="tns:IWeatherForecastService_GetForecastByCity_InputMessage" />
      <wsdl:output wsaw:Action="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/IWeatherForecastService/GetForecastByCityResponse" message="tns:IWeatherForecastService_GetForecastByCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCitiesByCountryJson">
      <wsdl:input wsaw:Action="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/IWeatherForecastService/GetCitiesByCountryJson" message="tns:IWeatherForecastService_GetCitiesByCountryJson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/IWeatherForecastService/GetCitiesByCountryJsonResponse" message="tns:IWeatherForecastService_GetCitiesByCountryJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForecastByCityJson">
      <wsdl:input wsaw:Action="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/IWeatherForecastService/GetForecastByCityJson" message="tns:IWeatherForecastService_GetForecastByCityJson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.restfulwebservices.net/ServiceContracts/Rest/2008/01/IWeatherForecastService/GetForecastByCityJsonResponse" message="tns:IWeatherForecastService_GetForecastByCityJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="WeatherForecastService">
    <wsdl:port name="WebHttpBinding_IWeatherForecastService" binding="i0:WebHttpBinding_IWeatherForecastService" />
  </wsdl:service>
</wsdl:definitions>